<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SecondBlog App</title>
  <link rel="stylesheet" href="app.component.css">
  
</head>
<body>
       
    <nav class="navbar navbar-expand-md navbar-light bg-primary textcolor"  >
      <div class="container-fluid "  id="navtext" >
        <a class="navbar-brand" routerLink="/home" style="color:white ;" >My SecondBlog App</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-md-0 ultext "  >
            <li class="nav-item"  >
              <a class="nav-link "   routerLink="/home" >Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLink="/about" >about</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" routerLink="/create" >Post a Blog</a>
            </li>
          </ul>
          
        </div>
      </div>
    </nav>
   
  <router-outlet></router-outlet>
  
</body>


</html>